body:not(.route-join):not(.route-login):not([class^="route-seller"]) header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  @extend .padding;
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.1);

  div.header-left {
    @extend .flex-row;
    column-gap: 3rem;
    h1 {
      @extend .flex-center;
      img {
        width: 12.4rem;
        height: 3.8rem;
      }
    }

    form {
      @extend .flex-row;
      &.hide {
        display: none;
      }
      width: calc(100vw / 4.8);
      min-width: calc(100vw / 3);

      &.mobile {
        display: none;
      }
      column-gap: 2.2rem;

      justify-content: space-between;
      align-items: center;
      border: 2px solid var(--highlight);
      border-radius: 5rem;
      height: 4.6rem;
      input {
        width: 100%;
        height: 100%;
        padding-left: 2.2rem;
        border-radius: 5rem 0 0 5rem;
      }
      button {
        @extend .flex-center;
        margin-right: 2.2rem;
        img {
          width: 2.8rem;
          height: 2.8rem;
        }
      }
    }
  }

  ul {
    @extend .flex-row;
    align-items: center;
    column-gap: 2.6rem;

    li {
      z-index: 100;
      &:first-child {
        width: 4.6rem;
      }
      &:last-child {
        width: 5.6rem;
      }
      a,
      button {
        @extend .flex-col;
        padding: 0.1rem 0;
        align-items: center;
        font-size: 1.2rem;
        row-gap: 0.4rem;
        color: var(--gray);
        &.active {
          color: var(--highlight);
          svg {
            stroke: var(--highlight);
          }
        }
        &.seller-btn {
          @extend .flex-row;
          width: fit-content;
          background-color: var(--highlight);
          padding: 1.1rem 2rem;
          white-space: nowrap;
          border-radius: 5px;
          color: #fff;
          font-size: 1.8rem;
          font-weight: 500;
          color: #fff;
          font-style: normal;
          line-height: normal;
          img {
            width: 3.2rem;
            height: 3.2rem;
            margin-right: 0.8rem;
          }
          span {
            width: 8.8rem;
            text-align: center;
          }
        }
        svg,
        img {
          width: 3.2rem;
          height: 3.2rem;
          stroke: black;
        }
      }
      &.seller-left {
        width: 5.6rem;
      }

      &.seller-right {
        width: 16.8rem;
      }
      ul.dropdown {
        position: absolute;
        display: none;
        &.active {
          display: grid;
        }
        width: 13rem;
        height: 11.8rem;
        z-index: 100;
        padding: 2rem 1rem 1rem 1rem;
        grid-template-rows: 1fr 1fr;
        transform: translateX(-29%);
        row-gap: 0.8rem;
        img {
          width: 100%;
          height: 100%;
          position: absolute;
          filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.25));
        }
        li {
          @extend .flex-center;
          width: 100%;
          height: 100%;
          border-radius: 5px;
          &:hover {
            border: 1px solid var(--gray);
            color: #000;
          }
          &:hover a {
            color: #000;
          }
          a {
            @extend .flex-center;
            width: 100%;
            height: 100%;
            font-size: 1.6rem;
            font-weight: 500;
          }
        }
      }
    }
  }
}
// 600px 이하일 때 헤더의 폼 숨김

// 600px 이하일 때 헤더의 폼 숨김
@media (max-width: 600px) {
  html
    body:not(.route-join):not(.route-login):not([class^="route-seller"])
    header {
    overflow-x: hidden;
    div.header-left form {
      display: none;
      &.mobile {
        display: flex;
        flex-direction: row;

        position: relative;

        width: 4.6rem;
        min-width: 0;
        padding: 0.8rem 0 0.8rem 2.2rem;

        transition: width 0.3s ease, padding 0.3s ease;

        button {
          position: absolute;
          top: 50%;
          right: 0;
          transform: translate(-23%, -50%);
          padding: 0;
          margin: 0;
          transition: transform 0.3s ease;
        }
        input {
          pointer-events: none;
          padding: 0;
          width: 0;
        }
        &.active {
          width: 50vw;
          input {
            pointer-events: auto;
            width: 100%;
            margin-right: 5.2rem;
            border-radius: 0;
          }
          button {
            transform: translate(-50%, -50%);
          }
        }
      }
    }

    ul li.seller-right {
      width: auto;
      a.seller-btn {
        img {
          margin-right: 0;
        }
        span {
          display: none;
        }
      }
    }
  }
}

body[class^="route-seller"] header {
  @extend %seller-padding;
  display: flex;
  justify-content: flex-start;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);

  padding-top: 2.6rem;
  padding-bottom: 2.6rem;
  h1 {
    display: flex;
    flex-direction: row;
    font-size: 3rem;
    font-weight: 500;
    align-items: center;
    justify-content: center;
    line-height: 3.8rem;
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 1.6rem;
      img {
        width: 8rem;
        height: 2.4rem;
      }
    }
  }
}
