%padding {
  padding-left: 3.5rem;
  padding-right: 3.5rem;
  padding-top: 3.3rem;
  padding-bottom: 3.6rem;
  border-radius: 10px;
}

body.login {
  @extend .flex-col;
  @extend .flex-center;
  padding: 16rem calc(44.318181818vw - 16.590909090909rem);

  header {
    h1 {
      img {
        width: 23.8rem;
        height: 7.4rem;
      }
    }
  }
  main {
    margin-top: 7rem;
    section {
      ul.button-row {
        @extend .flex-row;
        justify-content: space-between;
        align-items: flex-start;
        background: white;

        li {
          @extend .flex-col;
          align-items: flex-start;
          width: 50%;
          background-color: #fff;
          border-left: 1px solid var(--gray-border);
          border-right: 1px solid var(--gray-border);
          border-radius: 10px 10px 0 0;
          position: relative;

          button {
            width: 100%;
            padding-top: 2rem;
            padding-bottom: 2rem;
            font-weight: 500;
            border-top: 1px solid var(--gray-border);
            border-bottom: 0;
            border-left: 0;
            border-radius: 10px 10px 0 0;
            background-color: var(--gray-bg);
            line-height: 1.9rem;
            color: #000;

            &:after {
              display: block;
              position: absolute;
              content: "";
              width: 100%;
              height: 15px;
              bottom: -10px;
              z-index: -10;
              background-color: var(--gray-bg);
            }
            &.buyer:after {
              left: -1px;
              border-left: 1px solid var(--gray-border);
            }
            &.seller:after {
              right: -1px;
              border-right: 1px solid var(--gray-border);
            }

            &.active {
              background-color: #fff;
              &:after {
                z-index: 10;
                background-color: #fff;
              }
            }
          }
        }
      }
      form {
        // background-color: var(--gray-bg);
        // border: 1px solid var(--gray-border);
        // border-top: 0;
        fieldset {
          @extend .flex-col;
          @extend %padding;
          border-radius: 10px;
          background-color: var(--gray-bg);
          background-color: #fff;
          border: 1px solid var(--gray-border);

          input {
            width: calc(100vw / 4);
            min-width: 32rem;
            // width: 48rem;
            // padding: 2rem;
            height: 6rem;
            border-bottom: 1px solid var(--gray-border);
            &[type="password"] {
              margin-bottom: 1rem;
            }
          }

          p.msg {
            display: none;
            color: var(--red-text);
            font-weight: 500;
            margin-top: 1.6rem;
            line-height: normal;
            &.active {
              display: block;
            }
          }
        }
        button[type="submit"] {
          width: 100%;
          font-size: 1.8rem;
          padding: 2.1rem;
          color: #fff;
          font-weight: 700;
          border-radius: 5px;
          background-color: var(--highlight);
          margin-top: 2.6rem;
          line-height: 1;
        }
      }
    }
    ul.joins {
      @extend .flex-row;
      margin-top: 3rem;
      justify-content: center;
      li {
        &:not(:last-child) {
          &::after {
            content: "|";
            color: var(--gray-text);

            display: inline-block;
            margin: 0 1.4rem;
          }
        }
        a {
          color: var(--gray-text);
        }
      }
    }
  }
}

body.join {
  main {
    label {
      color: var(--gray);
      &:not([for="agree"]) {
        margin-bottom: 1rem;
      }
      margin-top: 2rem;
    }

    section {
      form {
        @extend .flex-col;
        align-items: center;

        fieldset {
          @extend .flex-col;
          margin-bottom: 3.4rem;

          p.msg {
            font-weight: 400;
          }

          p.msg.correct {
            color: var(--highlight);
          }

          input,
          input[type="password"] {
            width: auto;
            min-width: 0;
            border: 1px solid var(--gray-border);
            border-radius: 5px;
            padding: 1.7rem 1.6rem;
            margin-bottom: 0;
            &.error {
              border-color: var(--red-text);
              // &:focus {
              //   outline: none;
              // }
            }
          }

          .field-security {
            &.error {
              border-color: var(--red-text);
              // input:focus {
              //   outline: none;
              // }
            }
          }

          div.field-exists,
          div.field-business {
            display: grid;
            grid-template-columns: 1fr auto;
            column-gap: 1.2rem;
            input {
              margin-bottom: 0;
            }
            button {
              border-radius: 5px;
              background-color: var(--highlight);
              color: #fff;
              font-weight: 500;
              line-height: normal;
              padding: 1.7rem 3.15rem;
              min-width: 12.2rem;
            }
          }

          div.field-security {
            border: 1px solid var(--gray-border);
            border-radius: 5px;
            display: grid;
            grid-template-columns: 1fr auto;
            align-items: center;

            img {
              margin: 0 1.6rem;
            }

            input {
              border: 0;
            }
          }

          label[for="name"],
          label[for="business"] {
            margin-top: 5rem;
          }

          div.field-phone {
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            column-gap: 1.2rem;

            div.phone-area-container {
              position: relative;
              input#phone-area {
                width: 100%;
                text-align: center;
                @extend .prevent-select;
                cursor: pointer;
                pointer-events: none;
                &::-webkit-inner-spin-button {
                  -webkit-appearance: none;
                  margin: 0;
                }
              }
              .select-wrapper {
                // position: relative;
                display: grid;
                grid-template-columns: 1fr auto;
                align-items: center;
                width: auto;
                height: 100%;
                min-width: 0;
                border: 1px solid var(--gray-border);
                border-radius: 5px;
                padding: 1.7rem 1.6rem;
                input {
                  border: none;
                  padding: 0;
                  height: 100%;
                }
                &::after {
                  content: "";
                  display: block;
                  // position: absolute;
                  width: 2.4rem;
                  height: 1.4rem;
                  background-image: url(/images/icon-down-arrow.svg);
                  background-position: center;
                  // top: 50%;
                  // right: 1.4rem;
                  // transform: translateY(-50%);
                }
                &.active {
                  &::after {
                    background-image: url(/images/icon-up-arrow.svg);
                  }
                }
              }

              .optionList {
                position: absolute;
                left: 0;
                top: 6rem;
                width: 100%;
                height: 15rem;
                overflow-y: scroll;
                background-color: #fff;
                border: 1px solid var(--gray-border);
                border-radius: 5px;
                z-index: 10;
                margin-top: 0.6rem;
                display: none;
                &.active {
                  display: block;
                }

                li {
                  @extend .prevent-select;
                  text-align: center;
                  font-weight: 500;
                  font-size: 1.6rem;
                  line-height: 2rem;
                  padding: 1rem;
                  cursor: pointer;
                  &:hover {
                    background-color: var(--highlight);
                    color: #fff;
                  }
                }
              }
            }

            input {
              width: auto;
              min-width: 0;
              text-align: center;
              &::-webkit-inner-spin-button {
                appearance: none;
                -moz-appearance: none;
                -webkit-appearance: none;
              }
            }
          }
          div.business-only {
            display: none;
            &.active {
              @extend .flex-col;
            }
          }
        }
        div.agree {
          width: 100%;
          padding: 0 3.5rem;
          input[type="checkbox"] {
            width: 1.6rem;
            height: 1.6rem;
            min-width: 0;
            display: none;
            &:checked + label {
              &::before {
                background-image: url(/images/check-fill-box.svg);
              }
            }
          }
          label {
            display: grid;
            grid-template-columns: 1fr auto;
            gap: 1rem;
            width: 100%;
            font-size: 1.6rem;
            color: var(--gray);
            line-height: normal;
            margin-top: 0;
            &::before {
              content: "";
              display: inline-block;
              width: 1.6rem;
              height: 1.6rem;
              background-image: url(/images/check-box.svg);
              background-size: cover;
              margin-top: 0.2rem;
            }
            span {
              a {
                color: var(--gray);
                font-weight: 700;
                text-decoration: underline;
              }
            }
          }
        }
        button[type="submit"] {
          margin-top: 3.4rem;
          &[disabled] {
            background-color: var(--gray-border);
            cursor: not-allowed;
          }
        }
      }
    }
  }
}
